<div class="main-container">
  <div class="left-bar">

    <div class="top">
      <h1>Lists</h1>
    </div>

    <div class="list-menu">
      <a class="list-menu-item is-active">
        <p>List 1</p>
      </a>
      <a class="list-menu-item">
        <p>List 2</p>
      </a>
      <a class="list-menu-item">
        <p>List 3</p>
      </a>
    </div>

    <div class="bottom">
      <button>+ New List</button>
    </div>

  </div>
  <div class="right-bar">
    <div class="top">
      <h1>Tasks</h1>
    </div>

    <div class="task-menu">
      <a class="task-menu-item complete">
        <p>Task #1 Do the laundry</p>
      </a>
      <a class="task-menu-item">
        <p>Task #2 Do the laundry</p>
      </a>
      <a class="task-menu-item">
        <p>Task #3 Do the laundry</p>
      </a>
    </div>

    <div class="bottom">
      <button>+ New Task</button>
    </div>
  </div>
</div>
