@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

*{
  font-family: 'Cuprum', sans-serif;
}

body{
  background-color: lightseagreen;
  margin: 0;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 600px;
  margin: 100px auto 100px auto;
}

.right-bar{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 60%;
  height: inherit;
  background-color: #ebe9e6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left-bar{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 40%;
  height: inherit;
  background-color: whitesmoke;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.list-menu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 50px;
  height: 70%;
  .list-menu-item{
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
    width: 60%;
    color: black;
    &:not(.is-active){
      transition: all 0.3s ease 0s;
      cursor: pointer;
      &:hover{
        background: lightseagreen;
        transform: translateY(-3px);
        box-shadow: 0 15px 20px gray;
        color: white;
      }
      &:active{
        transform: scale(0.95);
      }
    }
    &.is-active{
      background-color: lightseagreen;
      box-shadow: 0 15px 20px gray;
      color: whitesmoke;
    }
  }
}

.task-menu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 50px;
  height: 70%;
  .task-menu-item{
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
    width: 60%;
    background-color: whitesmoke;
    color: black;
    &:not(.complete){
      transition: all 0.2s ease 0s;
      cursor: pointer;
      &:hover{
        transform: translateY(-3px);
        box-shadow: 0 15px 20px gray;
        color: black;
      }
      &:active{
        transform: scale(0.95);
      }
    }
    &.complete{
      text-decoration: line-through;
      opacity: 50%;
      cursor: pointer;
    }
  }
}
